{
  "eslintConfig": {
    "extends": ["react-app", "shared-config"],
    "plugins": ["testing-library", "jest-dom"],
    "rules": {
      "additional-rule": "warn"
    },
    "overrides": [
      {
        "files": ["**/*.ts?(x)"],
        "rules": {
          "additional-typescript-only-rule": "warn",
          "testing-library/await-async-query": "error",
          "testing-library/no-await-sync-query": "error",
          "testing-library/no-debug": "warn",
          "testing-library/no-dom-import": "off",
          "jest-dom/prefer-checked": "error",
          "jest-dom/prefer-enabled-disabled": "error",
          "jest-dom/prefer-required": "error",
          "jest-dom/prefer-to-have-attribute": "error"
        }
      }
    ]
  }
}
